<div class="col-lg">  
    <div class="container">
      <h2>Aplikasi Data Binding Dari JSON</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Profile</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of dataSource">
                <th scope="row">{{row.id}}</th>
                <td>{{row.first_name}}</td>
                <td><img src="{{row.profile}}" width="50px" height="50px"></td>
                <td>{{row.email}}</td>
                <td>{{row.gender}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
